@model IEnumerable<crudTimeNet.Models.Jogador>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<div>
    <a asp-controller="Jogadores" asp-action="Index">Visualizar a Lista de Jogadores </a>
    <br>
    <a asp-controller="Jogos" asp-action="Index">Visualizar a Lista de Jogos </a>
</div>
</div>
